body {
	white-space: pre;
}

a,
a:active,
a:visited {
	color: #0069D6;
}

a:hover {
	color: #0050A3;
}

.prop {
	font-weight: bold;
}

.prop a,
.prop a:hover,
.prop a:active,
.prop a:visited, {
	color: black !important;
	text-decoration: none !important;
}

.null {
	color: red;
}

.bool {
	color: blue;
}

.num {
	color: blue;
}

.string {
	color: green;
}

.date {
	color: green;
}

.collapser {
	position: absolute;
	left: -1em;
	cursor: pointer;
}

li {
	position: relative;
}

li:after {
	content: ',';
}

li:last-of-type:after {
	content: '';
}

.fn {
	color: gray;
}

ul {
	list-style: none;
	margin: 0 0 0 2em;
	padding: 0;
}

h1 {
	font-size: 1.2em;
}